<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit User</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/users/{id}(id=${user.id})}" method="post" th:object="${user}">
  <label>Username:</label>
  <input type="text" th:field="*{username}" required>

  <label>Password:</label>
  <input type="password" th:field="*{password}" required>

  <button type="submit">Update</button>
</form>
</body>
</html>
